/*overrides*/

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

/* collapsable content */
.collapse-content-button-text a {
  color: #ffab40;
  margin-left: 24px;
}

.collapse-content-button-text {
  padding-left: 0px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

/*avatar image stuff*/


.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: inherit;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.collection .collection-item.avatar i.circle {
    font-size: 48px;
    line-height: 42px;
    color: #999;
    background-color: #fff;
    text-align: center;
}

.collapsible-body {
    border-top: 0;
    padding: 0px;
}

.collapsible {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin: 0;
}

.navbar-fixed {
    position: relative;
    height: 104px;
    z-index: 997;
}

.collection .collection-item.avatar i.circle-right {
    font-size: 48px;
    line-height: 42px;
    color: #999;
    background-color: #fff;
    text-align: center;
}

.collapsible-header i {
    width: 2rem;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
}

.collapsible-header {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /*display: -ms-flexbox;*/
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.collapsible-header.active {
    border-bottom: 0;
}

.collapsible {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*end overrides*/

/*helpers*/

.helper-absolute {
  position: absolute;
}

.helper-lower-right-item {
  right: 20px;
}

.helper-right-item {
  top: 10px;
  right: 20px;
}

.helper-position-relative {
  position: relative;
}

.helper-icon {
  position: relative;
  top: 6px;
  /*margin-right: 0rem; figure out how to control this*/
  color: #26a69a;
  padding-right: 0rem;
}
.helper-inline {
  display: inline;
}

.helper-flex {
  display: flex;
}

.helper-flex-collapse {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
}


.helper-flex-left {
  align-content: flex-start;
}

.helper-flex-right {
  align-content: flex-end;
}

.helper-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helper-collection-ul:nth-last-child(1) {
  border-bottom: 0;
  padding-bottom: 84px;
}

.helper-no-border-top {
  border-top: 0;
}

.helper-no-border-bottom {
  border-bottom: 0;
}

/*footer*/

.footer-fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: #26a69a; /*#ee6e73;*/
    height: 84px;
    position: fixed;
    z-index: 997;
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.14), 0 -1px 5px 0 rgba(0,0,0,0.12), 0 -3px 1px -2px rgba(0,0,0,0.2);
    bottom: 0px;
}

.footer-text {
  /*vertical-align: middle;*/
  /*align-items: center;*/
  /*align-items: center;*/
  /*padding: 24px;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  align-self: center;
  text-transform: uppercase;
}

.helper-position-fab {
  position: absolute;
  right: 56px;
  bottom: 56px;
  z-index: 998;
}

.helper-dashboard-text-header {
  font-size: 14px;
  font-weight: normal;
  color: black;
  padding-top: 0;
  padding-left: 1.5rem;
}



/*body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}*/
