/*overrides*/

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

/* collapsable content */
.collapse-content-button-text a {
  color: #ffab40;
  margin-left: 24px;

}

.collapse-content-button-text {
  padding-left: 0px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

/*avatar image stuff*/


.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: inherit;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}


.collection .collection-item.avatar i.circle {
    font-size: 48px;
    line-height: 42px;
    color: #999;
    background-color: #fff;
    text-align: center;
}

.collapsible-body {
    border-top: 0;
    padding: 0px;
}

/*end overrides*/

/*helpers*/

.collection .collection-item.avatar i.circle-right {
    font-size: 48px;
    line-height: 42px;
    color: #999;
    background-color: #fff;
    text-align: center;
}

.collapsible-header i {
    width: 2rem;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
}


.helper-absolute {
  position: absolute;
}

.helper-lower-right-item {
  right: 20px;
}

.helper-right-item {
  top: 10px;
  right: 20px;
}

.helper-position-relative {
  position: relative;
}

.helper-icon {
  position: relative;
  top: 6px;
  /*margin-right: 0rem; figure out how to control this*/
  color: #26a69a;
  padding-right: 0rem;
}
.helper-inline {
  display: inline;
}

.helper-flex {
  display: flex;
}

.helper-flex-collapse {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
}


.helper-flex-left {
  align-content: flex-start;
}

.helper-flex-right {
  align-content: flex-end;
}

.helper-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}





.collapsible-header {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /*display: -ms-flexbox;*/
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}


.collapsible-header .active {
    background-color: red;
    border-bottom: 0;
}
  
